<html>

<head>
    <title>Todo list</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>
</head>

<body>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add a new To-do here" required>
            <button type="submit">Submit</button>
        </form>
        <ul>
            <% for(var i=0; i< todos.length; i++){%>
            <li><%= todos[i].item %></li>
            <%} %>
        </ul>
    </div>
</body>

</html>